
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/css/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/css/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/Content/css/theme.css" rel="stylesheet" media="all">
    <link href="~/Content/css/search-theme.css" rel="stylesheet" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" media="all"/>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        @Html.Partial("_HeaderDesktop")
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        @Html.Partial("_HeaderMobile")
        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <br /><br />
            <div class="s130">
                <form class="form-member">
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                </svg>
                            </div>
                            <input id="search" type="text" placeholder="domain.com" />
                        </div>
                        <div class="input-field second-wrap">
                            <button class="btn-search" type="button"></button>
                        </div>
                    </div>
                </form>
            </div>
            @RenderBody()

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © @DateTime.Now.Year DataHarvester</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/animsition.min.js"></script>
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/circle-progress.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/choices.js"></script>


</body>
</html>

