
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/css/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/css/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/Content/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        @Html.Partial("_HeaderDesktop")
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        @Html.Partial("_HeaderMobile")
        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">   
            <br /><br />
            @RenderBody()

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © @DateTime.Now.Year DataHarvester.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/animsition.min.js"></script>
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/circle-progress.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>

