@model DataHarvester.Model.SearchResults
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">Sonuçlar</h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>

<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number">@Model.ResultEmailList.Count()</h2>
                    <span class="desc">Bulunan EMAİL Sayısı (Eşleşen)</span>
                    <div class="icon">
                        <i class="zmdi zmdi-email"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">@Model.ResultAllEmailList.Count()</h2>
                    <span class="desc">Bulunan Tüm EMAİL Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-email"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">@Model.ResultFileUrlList.Count()</h2>
                    <span class="desc">Bulunan Dosya Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-file"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <h2 class="number">@Model.ResultHostnameList.Count()</h2>
                    <span class="desc">Bulunan Host Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-dns"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <h2 class="number">@Model.ResultIPList.Count()</h2>
                    <span class="desc">Bulunan IP Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-n-4-square"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">@Model.ResultLinkedInLinkList.Count()</h2>
                    <span class="desc">Bulunan LinkedIn Link Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-linkedin-box"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">@Model.ResultLinkedInProfileList.Count()</h2>
                    <span class="desc">Bulunan LinkedIn Profile Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number">@Model.ResultPortList.Count()</h2>
                    <span class="desc">Bulunan Port Sayısı</span>
                    <div class="icon">
                        <i class="zmdi zmdi-n-1-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

